/*  {
  outline: magenta solid 1px;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.main {
  flex: 1;
}

button {
  height: 3.5rem;
  width: 10rem;
  border-radius: 1rem;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  }

#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 18% 3rem;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #ef476f;
}

#header .logo {
  font-size: 2.5rem;
  font-weight: 900;
  color: #f8eec7;
}

.navigation {
  min-width: 30%;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navigation li  a {
  text-decoration: none;
  color: #0cedb1;
  font-weight: 900;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 15% 5rem;
  background-color: #ef476f;
}

.intro .text {
  flex: auto;
  min-width: 40%;
  color: #e2e2e2;
}

.intro h1 {
  font-size: 2rem;
  margin: 0;
}

.intro p {
  margin: 0;
  font-size: 1.5rem;
}

.intro .img-container {
  flex: auto;
}

.intro button {
  margin-top: 1rem;
  color: #ef476f;
}

.intro button:hover {
  background-color: #ef476f;
  border:#e2e2e2 solid 3px;
  color: #e2e2e2;
}

.intro .image {
  width: 100%;
  flex: auto;
  border-radius: 0.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 3rem 15% 5rem;
  background-color: #ffd166;
  color: #444444;
}

.gallery .title {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

.gallery .container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.gallery .element {
  max-width: 15rem;
}

.gallery .image {
  width: 100%;
  border-radius: 20%;
}

.gallery .image.apple {
  background-image: url(/images/space.jpg);
  background-attachment: fixed;
  background-position: 50% -10%;
}

.gallery .image.banana {
  background-image: url(/images/worms.jpg);
  background-attachment: fixed;
  background-size: 30%;
  background-position: center;
}

.gallery .image.lemon{
  background-image: url(/images/fire.jpg);
  background-attachment: fixed;
}

.gallery .image.watermelon{
  background-image: url(/images/water.jpg);
  background-attachment: fixed;
  background-size: 30%;
}

.gallery .text {
  text-align: center;
  padding-top: 1rem;
  font-size: 1rem;
}

.quote {
  padding: 7rem 20%;
  background-color: #06d6a0;
  color: #e2e2e2;
  font-style: italic;
}

.quote .text {
  font-size: 2rem;
  font-weight: 400;
}

.quote .signature {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero {
  padding: 5rem 15%;
  background-color: #118ab2;
}

.hero .container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem ;
}

.hero .main {
  margin: 0;
}

.hero button {
  color: #118ab2;
  
}

.hero button:hover {
  background-color: #118ab2;
  border:#e2e2e2 solid 3px;
  color: #e2e2e2;
}

#footer {
  text-align: center;
  padding: 0.5rem 15%;
  background-color: #1998c2;
}
