.gallery .image {
  height: 10rem;
  width: 10rem;
}

.intro .image {
  height: 18rem;
  width: 32rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.main {
  flex: 1;
}

#site-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3%;
  flex-wrap: wrap;
  gap: 1rem;
}

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.gallery .title {
  text-align: center;
  margin: 0; 
}

.gallery .container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.gallery .element {
  max-width: 10rem;
}

/* TODO intro image squashing issue */