.gallery .image {
  height: 10em;
  width: 10em;
}

.intro .image {
  height: 18em;
  width: 32em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
}